{#
/**
 * @file
 * Seven's theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.before_content: Items for the before-content region.
 * - page.content: The main content of the current page.
 * - page.after_content: Items for the after-content region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="siteWrapper">
  <header class="siteHeader">
    {{ page.header }}
  </header>

  <section class="siteMain">
    {% if page.before_content %}
      <section class="siteMain-row">
        {{ page.before_content }}
      </section>
    {% endif %}

    <section class="siteMain-row">
      {{ page.content }}
    </section>

    {% if page.after_content %}
      <section class="siteMain-row">
        {{ page.after_content }}
      </section>
    {% endif %}
  </section>

  {% if page.footer %}
    <footer class="siteFooter">
      {{ page.footer }}
    </footer>
  {% endif %}
</div>
