input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
}
textarea {
    resize: vertical;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
    text-decoration: none;
    transition: all .3s ease-in-out;
    -webkit-appearance: none;
    appearance: none;
}